body {
    display: grid;
    place-items: center;
}
.game-container {
    width: 600px;
    min-height: 90vh;
}
.game-board {
    display: grid;
    place-items: center;
    gap: 1rem;
}
.guessRow {
    display: flex;
    justify-content: center;
    align-items: center;
}
.guessTile {
    height: 65px;
    width: 65px;
    margin: 5px;
    border: 1px solid black;
    display: grid;
    place-items: center;
}
button {
    padding: 5px;
}
.correct {
    background-color: green;
}
.wrong-place {
    background-color: yellow;
}
.wrong {
    background-color: grey;
}