body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
	color: black;
}
.game-container {
	width: 500px;
	display: grid;
	place-items: center;
	gap: 2rem;
}
#message {
	min-height: 35px;
}
#message span {
	display: none;
	text-align: center;
	background-color: black;
	color: #fff;
	font-size: 1.2rem;
	padding: 4px 8px;
}
.game-board {
	display: grid;
	place-items: center;
	gap: 1rem;
}
.guessRow {
	display: flex;
	justify-content: center;
	align-items: center;
}
.guessCard {
	height: 65px;
	width: 65px;
	margin: 5px;
	border: 2px solid lightgrey;
	display: grid;
	place-items: center;
	font-size: 2rem;
	font-weight: bold;
	transition: transform 250ms linear;
}
.shake {
	animation: shake 250ms ease-in-out;
}
.dance {
	animation: dance 300ms ease-in-out;
}
.flip {
	transform: rotateX(90deg);
}

@keyframes shake {
	0% {
		transform: translateX(-6%);
	}

	30% {
		transform: translateX(6%);
	}

	60% {
		transform: translateX(-6%);
	}

	100% {
		transform: translateX(0%);
	}
}

@keyframes dance {
	0% {
		transform: translateY(-6%);
	}

	30% {
		transform: translateY(6%);
	}

	60% {
		transform: translateY(-6%);
	}

	100% {
		transform: translateY(0%);
	}
}

#keyboard {
	display: grid;
	gap: 3px;
	grid-template-rows: repeat(3, 1fr);
	grid-template-columns: repeat(20, 1fr);
	justify-content: center;
}
button {
	grid-column: span 2;
	padding: 15px 10px;
	border-radius: 6px;
	border: 2px solid #d3d6da;
	background-color: #d3d6da;
	font-weight: bold;
	color: black;
}
button:nth-child(11) {
	grid-column: 2/4;
}
button:nth-child(20) {
	grid-column: 1/4;
}
button:nth-child(28) {
	grid-column: 18/21;
}
.has-letter {
	border-color: grey;
}
.correct {
	background-color: #6aa964;
	border: #6aa964 2px solid;
	color: #fff;
}
.wrong-place {
	background-color: #cab458;
	border: #cab458 2px solid;
	color: #fff;
}
.wrong {
	background-color: #787c7e;
	border: #787c7e 2px solid;
	color: #fff;
}
